<% include ../partials/header %>

  <form action="/series" method="POST">
    <input class="input-field" type="text" name="series[name]" placeholder="Series name" />
    <input class="input-field" type="text" name="series[group]" placeholder="Group Name" value="HorribleSubs" />
    <select class="dropdown" name="series[bot]">
      <% bots.forEach(function(bot) { %>
        <% if (bot == "CR-HOLLAND|NEW") { %>
          <option value="<%= bot %>" selected><%= bot %></option>
        <% } else { %>
          <option value="<%= bot %>"><%= bot %></option>
        <% } %>
      <% }) %>
    </select>
    <select class="dropdown" name="series[quality]">
      <option value="1080p">1080p</option>
      <option value="720p" selected>720p</option>
      <option value="480p">480p</option>
    </select>
    <input class="input-field" type="text" name="series[current]" placeholder="Starting episode" value="1" />
    <input type="checkbox" name="series[individual]" />
    <p>Single episode</p>
    <div class="actions">
      <a class="btn btn-return" href="/series">Return</a>
      <button class="btn btn-confirm">Add</button>
    </div>
  </form>

<% include ../partials/footer %>
