<% include ./partials/header %>

  <form action="/login" method="POST">
    <input class="input-field" type="text" name="username" placeholder="username">
    <input class="input-field" type="password" name="password" placeholder="password">
    <div class="actions">
      <a class="btn btn-return" href="/">Back</a>
      <button class="btn btn-confirm">Login</button>
    </div>
  </form>

<% include ./partials/footer %>
