.input-form {
  width: 30%;
  margin: 25px auto;
}

.delete {
  color: red;
}

.information {
  font-weight: bold;
  font-size: 1.2em;
}

.item {
  margin: 1%;
  padding-left: 1%;
  background-color: lightgrey;
  background: rgba(211, 211, 211, 0.5);
}

.item:hover {
  background: lightgrey;
}

input[type="checkbox"] {
  transform: scale(2);
}
