/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #6b6666;
}

nav {
  list-style: none;
}

section {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 18px;
}

.btn {
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.btn-return {
  background-color: #e82626;
  font-size: 20px;
}

.btn-confirm {
  background-color: blue;
  font-size: 20px;
}

.actions {
  display: flex;
}

.content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-list > li {
  width: 80%;
  margin: 5px;
  background-color: #efefef;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.content-list > li > * {
  flex-basis: 20%;
  padding: 5px;
}

.content-list > li > input[type="checkbox"] {
  flex-basis: 15%;
  transform: scale(1.5);
}

/* Header */

header {
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 25px;
}

header > nav {
  display: flex;
}

header > nav > li {
  margin: 10px;
}

/* Episodes */

.actions {
  justify-content: center;
  align-items: center;
}

.actions > input[type="checkbox"] {
  transform: scale(1.5);
}

.command-list {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.command-list > textarea {
  margin-bottom: 10px;
  padding: 5px;
  height: 200px;
  border: 1px solid #efefef;
  background-color: #efefef;
  color: #6b6666;
  resize: none;
  font-size: 20px;
  flex-basis: 80%;
}

/* Series */

.dropdown {
  margin: 5px;
  font-size: 15px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}
